.container {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  @extend %margin-center;

  @include break(tablet) {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  @include break(small) {
    padding-left: 30px;
    padding-right: 30px;
  }

  .row {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
}


